.font13 {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.font15 {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}

.font17 {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.font20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-header__bg {
  height: 260px;
  background-color: #f1f1f1;
}
.catalog-header__border {
  position: relative;
  top: -46px;
  height: 48px;
  background-image: url("./img/icons/zigzag-fill-desktop.svg.png");
  background-size: cover;
  background-position: center;
}
.catalog-header__title {
  padding-top: 105px;
  text-align: center;
}

@media (max-width: 1200px) {
  .catalog-header__title {
    padding-top: 83px;
  }
}
@media (max-width: 700px) {
  .catalog-header .big-title {
    font-size: 27px;
    line-height: 30px;
  }
  .catalog-header__border {
    display: none;
  }
  .catalog-header__bg {
    height: 206px;
  }
}
.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) and (min-width: 700px) {
  .catalog__wrapper {
    flex-direction: column;
  }
  .catalog__card {
    margin-bottom: 54px;
  }
}
@media (max-width: 700px) {
  .catalog__card {
    margin-top: 30px;
  }
}
.card {
  height: 659px;
  width: 315px;
  border: 1px solid #ececec;
  cursor: pointer;
}
.card:hover {
  box-shadow: 6px 6px 6px #ececec;
}
.card:active {
  box-shadow: 3px 3px 3px #ececec;
}
.card__1stpart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  height: 460px;
  width: 315px;
  background-image: url("./img/photos/zaichik.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}
.card__korzina-mal {
  background-image: url("./img/photos/korzinka_mal.jpg");
}
.card__korzina-bol {
  background-image: url("./img/photos/korzinka_bol.jpg");
}
.card__text-wrapper {
  margin-left: 28px;
}
.card__text {
  margin-bottom: 28px;
}
.card__last-text {
  width: 220px;
  margin-bottom: 5px;
}
.card__2ndpart {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  border-top: 1px solid #ececec;
}
.card__basket {
  display: flex;
  background: none;
}
.card__basket-icon {
  height: 18px;
  fill: #d3d2d2;
  cursor: pointer;
}
.card__basket-icon:hover {
  fill: #63d1bb;
}
.card__basket-icon:active {
  fill: #aae1d6;
}

@media (max-width: 1200px) and (min-width: 700px) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 334px;
  }
  .card__img {
    height: 334px;
    width: 334px;
    background-image: url("./img/photos/photo-1-tablet.jpg");
    margin-bottom: 0;
  }
  .card__korzina-mal {
    background-image: url("./img/photos/photo-2-tablet.jpg");
  }
  .card__korzina-bol {
    background-image: url("./img/photos/photo-3-tablet.jpg");
  }
  .card__text {
    margin-bottom: 166px;
  }
  .card__last-text {
    margin-bottom: 138px;
  }
  .card__text-wrapper {
    margin: 0;
    padding-right: 40px;
  }
}
@media (max-width: 700px) {
  .card {
    width: 260px;
    height: 375px;
  }
  .card__img {
    width: 260px;
    height: 195px;
    background-image: url("./img/photos/photo-1-mobile.jpg");
  }
  .card__korzina-mal {
    background-image: url("./img/photos/photo-2-mobile.jpg");
  }
  .card__korzina-bol {
    background-image: url("./img/photos/photo-3-mobile.jpg");
  }
  .card__text-wrapper {
    width: 205px;
    margin: auto;
  }
  .card__text {
    margin-bottom: 20px;
  }
  .card__2ndpart {
    width: 205px;
    padding-top: 20px;
  }
}
.process__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
  margin-top: 57px;
  margin-bottom: 100px;
}
.process__wrapper:hover {
  box-shadow: 6px 6px 6px #ececec;
}
.process__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 682px;
  height: 455px;
  background-image: url("./img/photos/video_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.process__play {
  width: 100px;
}
.process__play:hover {
  width: 120px;
  transition: 0.4s;
}
.process__play:active {
  opacity: 0.8;
}
.process__text {
  margin-left: 80px;
  width: 230px;
}
.process__title {
  padding-top: 30px;
}
.process__description {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  padding-top: 40px;
}
.process__button {
  padding-top: 50px;
}

@media (max-width: 1200px) and (min-width: 700px) {
  .process__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .process__heading {
    padding-top: 35px;
    width: 668px;
    display: flex;
  }
  .process__title {
    padding-top: 0;
    padding-left: 33px;
  }
  .process__video {
    width: 668px;
  }
  .process__text {
    width: 588px;
    margin: auto;
    margin-bottom: 56px;
  }
}
@media (max-width: 700px) {
  .process__video {
    width: 260px;
    height: 150px;
    background-size: cover;
    margin-top: 101px;
  }
  .process__wrapper {
    flex-direction: column;
    height: 532px;
  }
  .process__text {
    position: relative;
    bottom: 220px;
    margin-left: 0;
  }
  .process__heading {
    display: flex;
    margin-bottom: 150px;
  }
  .process__title {
    padding: 0 0 0 25px;
  }
  .process__camera {
    height: 24px;
    width: 30px;
  }
}
.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__window {
  width: 565px;
  height: 338px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 6px 6px 6px #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 29px;
}
.modal__subtitle {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.modal__sizes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal__size-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 50px;
  border: 1px solid #ececec;
  cursor: pointer;
}
.modal__size-btn:checked {
  border: 1px solid #63d1bb;
}/*# sourceMappingURL=catalog.css.map */